<p id="notice"><%= notice %></p>

<p>
  <strong>Acc no:</strong>
  <%= @post.acc_no %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Authors:</strong>
  <%= @post.authors %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @post.edition %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @post.publisher %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
